[submodule "gnulib"]
	path = gnulib
	url = https://git.sailfishos.org/mirror/gnulib.git
[submodule "autoconf-archive"]
	path = autoconf-archive
	url = https://git.savannah.gnu.org/git/autoconf-archive.git
