[submodule "gnulib"]
	path = gnulib
	url = https://github.com/sailfishos-mirror/gnulib.git
[submodule "autoconf-archive"]
	path = autoconf-archive
	url = https://github.com/sailfishos-mirror/autoconf-archive.git
